<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta charset="utf-8">
  <title></title>
</head>
  <body>
      <% if(user) { %>
        <div class="headeruser">
          <h1 class="authorname title is-3 is-spaced">ArticlesWorld</h1>
          <div class="header-right">
              <a class="header-articleworld authorname" href="">Login User: <span><%= user.name %></span></a>
              <a class="authorname" href="/users/logout">Logout</a>
            <a class="authorname" href="/articles/mylists">My Articles</a>
          </div>
        </div>
      <% } else { %>
        <div class="headerlogreg">
          <div>
            <h1 class="header-articleworld authorname">ArticlesWorld</h1>
          </div>
          <div>
            <a class="headerlogreg-a button is-primary" href="/users/login">Login</a>
            <a class="headerlogreg-a button is-primary" href="/users/register">Register</a>
          </div>
        </div>
      <% } %>
  </body>
</html>