<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta charset="utf-8">
  <title></title>
</head>
  <body>
    <header>
      <h1>Articles</h1>
      
    </header>

    <% if(user) { %>
          <h3><%= user.name %></h3>
          <p><%= user.email %></p>
          <a href="/users/logout">Logout</a>
      <% } else { %>
          <a href="/users/login">Login</a>
          <a href="/users/register">Register</a>
      <% } %>
  </body>
</html>