<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta charset="utf-8">
  <title></title>
</head>
  <body>
      <% if(user) { %>
          <h3 class="authorname">Login User: <span><%= user.name %></span></h3>
          <h3 class="authorname">Login User Email: <span><%= user.email %></span></h3>
          <h3 class="myarticles-list"><a href="/articles/mylists">My Articles</a></h3>
          <h3 class="authorname"><a href="/users/logout">Logout</a></h3>
      <% } else { %>
          <a class="headerlogreg" href="/users/login">Login</a>
          <a class="headerlogreg" href="/users/register"> / Register</a>
      <% } %>
  </body>
</html>