<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <meta charset="utf-8">
  <title></title>
</head>
<body>
	<div>
		<a href="/articles">Home</a>
	</div>
	<h1 class="createarticle-header">Create New Article</h1>
	<div class="create-article">
		<form action="/articles" method="POST">
			<div class="div-input">
				<input class="create-input" type="text" name="title" placeholder="Title">
			</div>
			<div class="div-input">
				<input class="createdes-input" type="textarea" name="description" placeholder="Description">
			</div>
			<div class="div-input">
			    <input class="create-input" type="number" name="likes" placeholder="Likes">
			</div>
			<div class="div-input">
				<input class="create-input" type="submit" value="Create">
			</div>
		</form>
	</div>
</body>
</html>