<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/header %>
    <h3 class="allarticle-list"><a href="/articles">List of All Articles</a></h3>
  </body>
</html>
