<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/stylesheets/style.css"
  <head>
  </head>
  <body>
      <h1> Login Here: </h1>
      <div class="container">
          <form action="/users/login" method="POST">
              <label><b></label>Email</b></label>
              <input type="email" name="email" placeholder="Email">

              <label><b>Password</b></label>
              <input type="text" name="password" placeholder="Password">

            <button type="submit">Log In</button>
          </form>
      </div>
  </body>
</html>