<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">

  <head>
  </head>
  <body>
    <div class="login-page">
      <h1 class="login-header title"> Login Here: </h1>
      <div class="container">
          <form action="/users/login" method="POST">
            <div class="marginb-20">
              <input class="input is-primary" type="email" name="email" placeholder="Email">
            </div>
            <div class="marginb-20">        
              <input class="input is-primary" type="text" name="password" placeholder="Password">
            </div>
            <p class="dont marginb-20">Don't have an account <a href="/users/register/">register</a> first</p>
            <center>
              <button class="button is-success is-outlined marginb-20" type="submit">Log In</button>
            </center>
             <center>
              <a href="/articles/" class="button is-danger is-outlined">Back</a>

             </center>
            
          </form>
      </div>
    </div>

  </body>
</html>