<!DOCTYPE html>
<html lang="en">
	<head>
	  <link rel="stylesheet" href="/stylesheets/style.css">
	  <meta charset="utf-8">
	  <title></title>
	</head>
		<body>
            <a href="/articles">Home</a>
            <% articles.forEach((article) =>{ %> 
                <h2><%= article.title%></h2>
                <h2><%= article.description%></h2>
                <h4><%= article.likes%></h4>
                <button type="button" name="like">Like</button>
           <% })%>
		</body>
</html>