<!DOCTYPE html>
<html lang="en">
	<head>
	  <link rel="stylesheet" href="/stylesheets/style.css">
	  <meta charset="utf-8">
	  <title></title>
	</head>
		<body>
            <a href="/articles">Home</a>
            <% articles.forEach((article) =>{ %> 
                <h1><%= article.title%></h1>
                <h3><%= article.description%></h3>
                <h4><%= article.likes%> likes</h4>
                <!-- <button type="button" name="like">Like</button> -->
           <% })%>
		</body>
</html>