body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}
/* header */
.headeruser {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}
.authorname {
  float: left;
  color: blue;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header-articleworld {
  color: #4C4C4C;
}

.header-right {
  float: right;
}

.headerlist {
  /* text-align: center; */
  padding-left: 50px;
  color: #282828;
  font-size: 50px;
  font-weight: 100;
}
.articletitle {
  /* text-align: center; */
  padding-left: 50px;
  color: #4C4C4C;
  font-size: 30px;
  font-weight: 100;
}

.articlelikes {
/* text-align: center; */
padding-left: 50px;
color: steelblue;
font-size: 20px;
font-weight: 100;
}

.articledate {
  color: #987B7B;
  font-size: 15px;
  font-weight: 100;
  padding-left: 50px;
}

/* buttons */

.articlebutton {
  /* text-align: center; */
  padding-left: 50px;
}
.editbutton, .deletebutton, .morebutton {
  background-color: white;
  border: 1px solid aqua;
  border-radius: 19px;
  margin: 5px 5px;
  padding: 5px 5px;
  font-size: 19px;
}
.aquabutton {
  color: aqua;
}
.newarticleheader, .single-home {
  text-align: center;
}
.single-header {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
}
.single-deslik {
  text-align: center;
  font-size: 15px;
  color: #B5C588;
}
.like-button {
  text-align: center;
}
.single-author {
  text-align: center;
  color: #BF312F;
}
span {
  color: black;
}
/* Comments */
.comment-header, .comment-text, .comment-secttion {
  text-align: center;
}

.comment-author {
  text-align: center;
  color: #BF312F;
  padding-left: 40px;
  padding-bottom: 20px;
}
.comment-input {
  margin-top: 20px;
  padding: 10px;
}
.comment-button {
  background-color: mediumspringgreen;
  color: aliceblue;
  font-size: 25px;
}
.commentbutton {
  text-align: center;
}
span {
  color: black;
}
/* Login and Registeration */
.email-input, .email-pass, .email-name {
  text-align: center;
}
.login-input, .regis-input {
  font-size: 20px;
  padding: 10px;
  border: 1px solid aqua;
  border-radius: 20px;
}
.email-input {
  padding: 30px;
}
.login-header, .register-header {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
  color: aqua;
}
.login-div, .regis-div {
  text-align: center;
  padding: 20px;
}
.login-button, .regis-button {
  font-size: 20px;
  padding: 10px;
  border: 1px solid aqua;
  border-radius: 20px;
  background-color: white;
  
}
.register-header {
  text-align: center;
  font-size: 70px;
}
.myarticles-list, .allarticle-list {
  text-align: center;
}
span {
  color:#BF312F;
}
.span-Written {
  color: #4C4C4C;
}
.dont {
  text-align: center;
}
/* create article */
.div-input {
  text-align: center;
}
.create-input {
  font-size: 20px;
  padding: 10px;
  width: 400px;
  border: 1px solid aqua;
  border-radius: 10px;
  margin: 10px;
}
.createarticle-header, .editarticle-header {
  text-align: center;
  font-size: 50px;
  font-weight: 100;
}
.createdes-input {
  font-size: 20px;
  height: 100px;
  width: 400px;
  padding: 10px;
  border: 1px solid aqua;
  border-radius: 10px;
  margin: 10px;
}
.loginback-button {
  padding-left: 460px;
  color: #BF312F;
}
