body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}

.headerlist {
  text-align: center;
  color: #282828;
  font-size: 50px;
  font-weight: 100;
}
.articletitle {
  text-align: center;
  color: #4C4C4C;
  font-size: 30px;
  font-weight: 100;
}
.articlebutton {
  text-align: center;
}
.editbutton, .deletebutton, .morebutton {
  background-color: white;
  border: 1px solid aqua;
  border-radius: 19px;
  margin: 5px 5px;
  padding: 5px 5px;
  font-size: 19px;
}
.aquabutton {
  color: aqua;
}
.newarticleheader, .authorname, .single-home {
  text-align: center;
}
.single-header {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
}
.single-deslik {
  text-align: center;
  font-size: 15px;
  color: #B5C588;
}
.like-button {
  text-align: center;
}
.single-author {
  text-align: center;
  color: #BF312F;
}
span {
  color: black;
}
.comment-header, .comment-text, .comment-secttion {
  text-align: center;
}

.comment-author {
  text-align: center;
  color: #BF312F;
  padding-left: 40px;
  padding-bottom: 20px;
}
.comment-input {
  margin-top: 20px;
  padding: 10px;
}
.comment-button {
  background-color: mediumspringgreen;
  color: aliceblue;
  font-size: 25px;
}