/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* general css */

body {
  margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: blue;
}
/* header */
.headeruser {
  padding: 0 30px;
  overflow: hidden;
  background-color: #ffffff;
  
}
.headerlogreg {
  padding: 0 30px;

  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.authorname {
  float: left;
  color: #00D1B2;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}


a {
  text-decoration: none;
}

.header-right {
  float: right;
}
.registerpage, .login-page, .addpage, .createarticle-page {
  width: 600px;
  margin: 0 auto;
}
.articletitle {
  /* text-align: center; */
  padding-left: 50px;
  color: #4C4C4C;
  font-size: 30px;
  font-weight: 100;
}

.articlelikes {
padding-left: 50px;
color: steelblue;

}

.articledate {
  color: #987B7B;
  font-size: 15px;
  font-weight: 100;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.margintb-20 {
  margin: 20px 0;
}
.paddingl-50 {
  padding-left: 50px;
}
.marginb-20 {
  margin-bottom: 20px;
}
/* buttons */
.regis-box {
  max-width: 600px;
}


.articlebutton {
  /* text-align: center; */
  padding-left: 50px;
}
.single-home {
  padding: 10px 0;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
}
.single-header {
  text-align: center;
  font-size: 40px;
  font-weight: 100;
}
.single-deslik {
  text-align: center;
  font-size: 15px;
  color: #B5C588;
}
.like-button {
  text-align: center;
}
.single-author {
  text-align: center;
  color: #BF312F;
}
span {
  color: black;
}
/* Comments */
.comment-header, .comment-text, .comment-secttion {
  text-align: center;
}

.comment-author {
  text-align: center;
  color: #BF312F;
  padding-left: 40px;
  padding-bottom: 20px;
}
.comment-input {
  margin-top: 20px;
  padding: 10px;
}
.comment-button {
  background-color: mediumspringgreen;
  color: aliceblue;
  font-size: 25px;
}
.commentbutton {
  text-align: center;
}
span {
  color: black;
}
.articles-box {
  width: 400px;
  padding: 10px;
  margin: 10px 10px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 4px 4px gainsboro;
}
.flex {
  padding: 0 30px;
  display: flex;
  flex-wrap: wrap;
}


/* Login and Registeration */
/* .email-input, .email-pass, .email-name {
  text-align: center;
} */
/* .login-input, .regis-input {
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
} */
.email-input {
  padding: 30px;
}
.login-header {
  text-align: center;
  padding: 10px;
}
.login-div, .regis-div {
  text-align: center;
  padding: 20px;
}
.login-button, .regis-button {
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: white;
  
}
.myarticles-list {
  text-align: center;
}
span {
  color:#BF312F;
}
.span-Written {
  color: #4C4C4C;
}
.dont {
  text-align: center;
}
/* create article */
.div-input {
  text-align: center;
}
.create-input {
  font-size: 20px;
  padding: 10px;
  width: 400px;
  border: 1px solid aqua;
  border-radius: 10px;
  margin: 10px;
}
.createarticle-header, .editarticle-header {
  text-align: center;
}
.createdes-input {
  font-size: 20px;
  height: 100px;
  width: 400px;
  padding: 10px;
  border: 1px solid aqua;
  border-radius: 10px;
  margin: 10px;
}
.loginback-button {
  color: #BF312F;
}
/* my articles */
.myarticle-home {
  padding-left: 50px;
}
